@import "tailwindcss";
@plugin "daisyui" {
  exclude: scrollbar, rootcolor;
  themes: dark --default, dark --prefersdark;
}

:root {
  --background: var(--color-white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-dark-navy);
  }
}

@theme {
  --color-purple: #a729f5;
  --color-white: #ffffff;
  --color-green: #26d782;
  --color-light-bluish: #abc1e1;
  --color-red: #ee5454;
  --color-light-grey: #f4f6fa;
  --color-navy: #3b4d66;
  --color-grey-navy: #626c7f;
  --color-dark-navy: #313e51;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/Rubik-Italic-VariablesFont_wght.ttf") format("truetype");
}

body {
  background: var(--background);
  font-family: Rubik, sans-serif;
}

input[type="range"]::-webkit-slider-thumb {
  display: none;
}

input[type="range"]::-moz-range-thumb {
  display: none;
}
